html,body,header,
.landing {
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Eczar', serif;
}
body{
  background-image: url("../Assets/PIZZA\ HD.jpg");
  background-position: center center;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-attachment:fixed;
  margin: 0;
  padding: 0;
}
.landing {
  /* background-image: url("../Assets/PIZZA\ HD.jpg");
  background-position: center center;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-attachment:fixed; */
  padding-bottom: 20px;
  position: relative;
  overflow-x: hidden;
}
#logo {
	margin-left: 2em;
}
#text {
  margin-left: 8em;
	font-weight: 600;
}
/* ======================================== ================*/
#MENUS {
  font-weight: 600;
  background-color: rgba(213, 215, 228, 0.555);
}
#menu {
  color: blue;
  font-family: 'Lucida Sans';
  font-weight: 600;
  font-size: 2em;
}
mark {
  color: rgb(0, 38, 255);
  font-style: italic;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
/* ======================================================= */
.order-overlay{
  background-color: rgba(236, 207, 74, 0.849);
  padding-bottom: 20px;
  box-shadow: 8px gray;
}
#Order-now {
  color: blue;
  font-weight: 600;
  font-size: 2em;
}
#check {
  color: #3700ff;
  margin-left: 15em;
  font-weight: 600;
}
#pick {
  margin-left: 3em;
  font-weight: 800;
}
#firstTopping, #secondTopping {
  margin-top: 2em;
  font-weight: 600;
}
#information{
  margin-right: 2em;
  padding-top: 5%;
  font-size: 22px;
  color: #3700ff;
}
#choice{
  display: none;
  padding-left: 2%;
  padding-right: 2%;
}
.choice h2{
  color:orange;
  text-align: left;
}
td,th{
  font-size: 20px;
  color: blue;
}
#address {
  display: none;
}
#delivery{
  display: none;
  padding-left: 10%;
  padding-right: 10%;
}
#orderMade{
  color: white;
  font-size: 30px;
}
#addedPrice{
  display: none;
}
#finalMessage{
  display: none;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 28px;
}
/* @media screen (max-width: 485px){
  .container {
    flex-direction: column;
  }
}
@media screen (max-width: 767px){
  .section {
    padding-top: 30px;
}
.flex-xs-column {
    flex-direction: column;
} */
/* =========================================================== */
.copyright {
	text-align: center;
	background-color: aquamarine;
	height: 4.5em;
}
#place {
  font: 2em sans-serif;
	font-weight: 600;
}
.copyright span {
	color: red;
	font-weight: 1000;
	font-size: 20px;
}

#contact{
  color: aliceblue;
  background-color: rgba(18, 17, 114, 0.911);
}